/* line 3, ../sass/screen.scss */
html {
  font-family: 'Lato', sans-serif;
}
body{
  background: #303840;
}
/* line 6, ../sass/screen.scss */
.header-img {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;
  height: auto;
  background-image: url("../../img/lolheader.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 19, ../sass/screen.scss */
.header-img .overlay {
  position: static;
  left: 50%;
  width: 700px;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1e2328;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-in-out;
}
/* line 32, ../sass/screen.scss */
.header-img .overlay input {
  margin-bottom: 20px;
  text-align: center;
  height: 70px;
  font-size: 35pt;
  outline: 0 !important;
  border: 3px solid rgba(192, 252, 253, 0.7);
  border-image: linear-gradient(to bottom, #08abac 0%, #01698b 100%);
  color: #f0e6d2;
  background-color: #1e2328;
  border-image-slice: 1;
  transition: all 0.5s ease;
  position: static;
}
/* line 44, ../sass/screen.scss */
.header-img .overlay input:hover {
  box-shadow: 0 0 10px 4px rgba(192, 252, 253, 0.4), inset 0 0 5px 2px rgba(192, 252, 253, 0.3);
  border: 3px solid rgba(192, 252, 253, 0.7);
}
/* line 52, ../sass/screen.scss */
.overlay {
  border: 2px;
  color: #72542a;
  background-clip: padding-box;
  border: solid;
  border-radius: initial;
  top: 25%;
  padding-left:0px;
  position: ;
}

/* line 62, ../sass/screen.scss */
#loginRegister {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* line 68, ../sass/screen.scss */
.col-md-3 {
  width: 450px;
  border: 2px solid #72542a;
  position: relative;
  padding-left: 0;
}

/* line 75, ../sass/screen.scss */
.hr-gold {
  height: 2px;
  width: 100%;
  padding-bottom: 50px;
  overflow: hidden;
  text-align: center;
}
/* line 81, ../sass/screen.scss */
.hr-gold h3 {
  display: inline-block;
  position: relative;
  color: #72542a;
}

/* line 88, ../sass/screen.scss */
h3::before,
h3::after {
  content: "";
  position: absolute;
  border-top: 2px solid #c7b184;
  top: 50%;
  width: 2000px;
}

/* line 96, ../sass/screen.scss */
h3::before {
  margin-right: 15px;
  right: 100%;
}

/* line 100, ../sass/screen.scss */
h3::after {
  margin-left: 15px;
  left: 100%;
}

/* line 105, ../sass/screen.scss */
.c-btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  height: 3.00em;
  font-size: 15pt;
  max-width: 100%;
  border: 0;
  color: #c7b184;
  fill: currentColor;
  -webkit-box-shadow: 0 0 28px #000;
  box-shadow: 0 0 28px #000;
  line-height: 1;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  z-index: 1;
  -webkit-transition: .15s;
  transition: .15s;
}
/* line 132, ../sass/screen.scss */
.c-btn:active, .c-btn:focus, .c-btn:hover {
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0 0 28px #000, 0 0 28px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 28px #000, 0 0 28px rgba(0, 0, 0, 0.6);
}
/* line 139, ../sass/screen.scss */
.c-btn:active::after, .c-btn:focus::after, .c-btn:hover::after {
  background: #1a1d21;
}
/* line 143, ../sass/screen.scss */
.c-btn::after, .c-btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* line 155, ../sass/screen.scss */
.c-btn::before {
  background: -webkit-gradient(linear, left bottom, left top, from(#72542a), to(#bd9e5e));
  background: linear-gradient(0deg, #72542a 0%, #bd9e5e 100%);
}
/* line 160, ../sass/screen.scss */
.c-btn::after {
  margin: 1px;
  background: #16181d;
  -webkit-transition: .15s;
  transition: 0.15s;
}

/* Profile container */
/* line 171, ../sass/screen.scss */
.profile {
  position: fixed;
  min-width: 100%;
  z-index: 10;
}

/* Profile sidebar */
/* line 182, ../sass/screen.scss */
.profile-sidebar {
  padding: 35px 0 10px 0;
  z-index: 15;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  max-height: 455px;
}

/* line 191, ../sass/screen.scss */
.profile-userpic img.pic {
  position: relative;
  width: 40%;
  left: 50%;
  margin-left: -20%;
  z-index: 102;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  border: 4px solid #c7b184;
  object-fit: contain;
}

/* line 204, ../sass/screen.scss */
.profile-userpic img.level-border {
  position: absolute;
  z-index: 101;
  width: 55%;
  left: 50%;
  margin-left: -27%;
  margin-top: -8%;
}

/* line 215, ../sass/screen.scss */
.profile-usertitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* line 224, ../sass/screen.scss */
.profile-usertitle-name {
  color: #c7b184;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 7px;
}

/* line 231, ../sass/screen.scss */
.profile-usertitle-level {
  text-transform: uppercase;
  color: #c7b184;
  font-size: 40px;
  font-weight: 600;
  padding-top: 15px;
  border: 4px solid #c7b184;
  background-color: #303840;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

/* Profile Content */
/* line 247, ../sass/screen.scss */
.profile-content {
  background: #1e2328;
  min-height: 460px;
  color: #f0e6d2;
  border: 3px solid rgba(192, 252, 253, 0.7);
  border-image: linear-gradient(to bottom, #08abac 0%, #01698b 100%);
  border-image-slice: 1;
}

.bg-loldark {
  max-height: 100%;
  overflow-y: scroll;
  height: 400px;
}

.bg-loldark .list-group-item {
  cursor: pointer;
  transition: font-size .5s ease-in-out;
}

.bg-loldark li {
  background-color: #1e2328 !important;
  border-color: white !important;
}

/* line 258, ../sass/screen.scss */
.dark-overlay {
  background-color: black;
  opacity: .7;
  width: 100%;
  height: 100%;
  max-height: 459px;
  z-index: 10;
  position: absolute;
}

/* line 278, ../sass/screen.scss */
#stats .row {
  position: static;
  padding-top: 2%;
  padding-left: 50px;
  padding-right: 50px;
  overflow-y: scroll;
  scrollbar-color: #c7b184 transparent ;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c7b184;
}

::-webkit-scrollbar-thumb:hover {
  background: #72542a;
}
/* line 283, ../sass/screen.scss */
#stats .info {
  padding-top: 250px;
}

/* line 288, ../sass/screen.scss */
footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background: #1e2328;
  text-align: center;
  color: #f0e6d2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #c7b184;
  z-index: 1000;
}

/* line 302, ../sass/screen.scss */
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* line 308, ../sass/screen.scss */
.col i {
  font-size: 50pt;
  font-weight: bold;
}

/* line 314, ../sass/screen.scss */
.col-md-3 {
  padding-left: 0;
}

/* line 318, ../sass/screen.scss */
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}